node_modules
dist
build
.next
.expo
.expo-shared
*.tsbuildinfo
.turbo
coverage
.env
.env.local
.env.*.local
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
minio-data
postgres-data
redis-data
pnpm-lock.yaml.bak
